

@font-face {
	font-family: 'outfit-bl';
	src: url(../fonts/Outfit-Black-900.ttf);
}

@font-face{
  font-family: 'header-bold-130';
  src: url(../fonts/Calibre-Bold.otf);
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/***css for Next-previous button starts here*****/
.slider-control_1{
  position: fixed;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  right:10px;
  background-image: url(../images/next.png);
  top: 50%;
  background-repeat: no-repeat;
  display: inline-block;
}
.slider-control_1:hover {
  background-image: url(../images/next-h.png);
  top: 50%;
  background-repeat: no-repeat;
}
.slider-control_p {
position: fixed;
height: 44px;
width: 44px;
background-image: url(../images/previous.png);
top: 50%;
background-repeat: no-repeat;
display: inline-block;
border-radius: 100px;
left: 10px;
}
.slider-control_p:hover {
background-image: url(../images/previous-h.png);
top: 50%;
background-repeat: no-repeat;
}
.text-uppercase{
text-transform:uppercase;
}
/***css for Next-previous button endss here*****/
.main {
  max-width: 1200px;
  margin: 20px auto 30px;
  padding-bottom: 90px;
}
.class_slide {
  padding: 40px 97px 0px;
}
@media (min-width: 580px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .page-container-174 {
    padding: 40px 20px 0px;
  }
  .alignstart {
    align-items: center;
  }
  .flex {
    flex-direction: column;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .page-container-174 {
    padding: 40px 97px 0px;
  }
  .flex {
    display: flex;
    flex-direction: row;
  }
  .alignstart {
    align-items: start;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .page-container-174 {
    padding: 40px 97px 0px;
  }
  .flex {
    display: flex;
    flex-direction: row;
  }
  .alignstart {
    align-items: start;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: 0;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: 0;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
@media (max-width: 579px) {
  .col-sm-12 {
    width: 100%;
  }
  .alignstart {
    align-items: center;
  }
  .page-container-174 {
    padding: 40px 20px 0px;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }

  .img-fluid{
    max-width: 100%;
    height: auto;
  }

  .light-blue{
    color:  #ecf0fa;
  }
  .table-image img{
    height: 50px !important; 
    width: 50px !important;
  }

  .text-center{
    text-align: center;
  }
  .middle-content{
    vertical-align: middle;
  }




}


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



@font-face{
    font-family: 'header-bold';
    src: url(../fonts/Calibre-Bold.otf);
  }

  @font-face{
    font-family: 'text-regular';
    src: url(../fonts/Calibre-Regular.otf);
  }

  @font-face{
    font-family: 'text-regular';
    src: url(../fonts/Calibre-Regular.otf);
  }
  .header-bold-130{
    font-size: 105px;
    line-height: 32px;
    font-weight: bold;
    font-family: "header-bold";
  }
  .col-12{
    width: 100%;
  }

  .semi-header-text-28{
    font-size: 28px;
    line-height: 29px;
    font-weight: bold;
    font-family: "header-bold";
  }
  .semi-header-text-22{
    font-size: 22px;
    line-height: 29px;
    font-weight: bold;
    font-family: "header-bold";
  }
  .footer-text-desc-22{
    font-size: 22px;
    line-height: 29px;
    font-weight: 300;
    font-family: "text-regular";
  }
  .text-grey{
    color: #777270;;
  }
  .text-bold{
    font-weight: bold;
    font-family: "text-regular";
  }

  .text-regular-25{
    font-size: 25px;
    line-height: 29px;
    font-family: "text-regular";
  }

  .bg-greyish{
    background-color: #777270;
  }
  .bg-


.text-center{
    align-items: center !important;
}

.bg-lghtblue{
    background-color: #ecf0fa !important;
}
.bg-darkblue{
    background-color: #a4b3d5 !important;
}
.bg-imgtext{
    background-color:  #e2e8f7;
}
.text-purple{
    color: #79639b !important;
}
.text-lghtblue{
  color: #0072ba !important;
}
.text-lghtgreentext{
  color: #107627 !important;
}


.text-pink{
  color: #df0067 !important;
}
.text-grndark{
  color: #718314 !important;
}
.speaker-icon{
    position: relative;
}
.text-greendark{
  color: #005d59 !important;
}

.bg-lgtgreen{
  color: #d3e0cd;
}
 .bg-darkgrencard{
  background-color: #e9efe6 !important;
 }

 .bg-dark-grn{
  background-color: #bdd1b4 !important;
 }

 .text-black{
  color: #777270 !important;
 }





.d-flex{
  display: flex;
}
.speaker-icon::before {
    /* place a video icon */
    content: '\F484';
    font-family: "bootstrap-icons"; /* Required for Bootstrap Icons */
    position: absolute;
    top: 0px;
    left: -28px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    fill: #007bff;
}
.table>:not(caption)>*>* {
    padding: 1px 3px;
}

/* write media query for all devices */
/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    .header-bold-130 {
        font-size: 45px;
        line-height: 32px;
        font-weight: bold;
        font-family: "header-bold";
    }
    .semi-header-text-28 {
        font-size: 18px;
        line-height: 29px;
        font-weight: bold;
        font-family: "header-bold";
    }
    .text-regular-25 {
        font-size: 15px;
        line-height: 29px;
        font-family: "text-regular";
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .header-bold-130 {
        font-size: 45px;
        line-height: 32px;
        font-weight: bold;
        font-family: "header-bold";
    }
    .semi-header-text-28 {
        font-size: 18px;
        line-height: 29px;
        font-weight: bold;
        font-family: "header-bold";
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* write media query for tablets */

.text-red{
    color: red !important;
}
.page-header{
    display: flex;
    gap: 2;
}
.header-number{
    background-color: red;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    margin-right: 3px;
}
.main-bar{
    display: flex;
    gap: 4;
}


.main-header-txt{
    position: relative;
    display: inline-block; /* Adjust based on content needs */
}
.main-header-txt::after{
    content: "";
    position: absolute;
    top: 4px;
    left: 62px;
    width: 100%;
    height: 79%;
    background-color: rgba(255, 0, 0, 0.5);

}
.table-content-box{
    display: flex;
    gap : 3;
}
.gamining-section{
    border: 2px dotted black; /* Dotted black border */
    border-radius: 5px; /* Rounded corners */
 /* Add some spacing inside */
    
}

.bg-broun{
    background-color: #e0e0e0;
}
.serial-number{
    background-color: #777270;
    border-radius: 50%;
    width: 25px;
    text-align: center;
    margin-right: 3px;
}

.footer-numb{
    padding: 5px;
    text-align: center;
    background-color: #c3d197;
    border-radius: 3px;
}

.display-table {
  display: table;
  width: 100%;
  border-collapse: separate;  /* Ensure it allows spacing */
  border-spacing: 10px; /* Adjust the gap */
}
.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 10px;
  background: #f8f9fa; /* Light gray for visibility */
  border: 1px solid #ccc;
  text-align: center; /* Horizontally center text */
  vertical-align: middle; /* Vertically center text */
}
.table-cell:first-child {
  width: 16%;

}

.table-cell:last-child {
  width: 70%; /* Image column */
}

.table-numbers .display-table {
  display: table;
  width: 60%;
  border-collapse: separate;  /* Ensure it allows spacing */
  border-spacing: 10px; /* Adjust the gap */
}

.table-numbers .table-cell:last-child {
  width: 30% !important; /* Image column */
}

.top-right-txt-bar{
  display: flex;
  align-items: center;
    justify-content: space-between;
 }
.right-bar-baner{
  width: 91%;
  height: 20px;
  background: #777270;
}
@media screen and (max-width:767px) {
  .right-bar-baner {
    width: 100%;
    height: 15px;
    background: gray;
}

.top-right-txt-bar {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
}

.gray-heading{
  color: gray;
  font-family: 'header-bold';
  font-size: 20px;
}

.bar-baner {
  width: 90%;
  height: 20px;
  background: #777270;
}

.top-bar-section-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bar-baner-sub-header small{
  clear: both;
  display: flex;
  justify-content: end;
}

.bar-baner-txt {
  border-bottom: dotted;
}

.image-block-main{
  position: relative;
  }

  .imag-alpha {
    width: 30px;
    height: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;
    color: black;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

   
    font-size: 14px;
    font-weight: bold;
    line-height: 1; 
}

.image-block-img-main {
  width: 100%; /* Ensures the image fills the container */
  height: 250px; /* Set a fixed height (adjust as needed) */
  overflow: hidden; /* Hides any overflowing content */
  display: flex; /* Centers image */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}

.image-block-img-main img {
  width: 100%; /* Makes the image responsive */
  height: 100%; /* Forces it to fill the container */
  object-fit: cover !important; /* Ensures uniform height & cropping */
}

.img-rotate-2{
  transform: rotate(2deg);
}

.btm-0{
  position: absolute;
  bottom: 0;
}




