

@font-face {
	font-family: 'outfit-bl';
	src: url(../fonts/Outfit-Black-900.ttf);
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/***css for Next-previous button starts here*****/
.slider-control_1 {
  position: absolute;
  height: 44px;
  width: 44px;
  background-image: url("../images/next.png");
  top: 50%;
  background-repeat: no-repeat;
  display:inline-block;
}
.slider-control_1:hover {
  background-image: url("../images/next-h.png");
  top: 50%;
  background-repeat: no-repeat;
  }
.slider-control_p {
  position: absolute;
  height: 44px;
  width: 44px;
  background-image: url("../images/previous.png");
  top: 50%;
  background-repeat: no-repeat;
  display:inline-block;
  position: fixed;
}
.slider-control_p:hover {
  background-image: url("../images/previous-h.png");
  top: 50%;
  background-repeat: no-repeat;
  }
.text-uppercase{
text-transform:uppercase;
}
/***css for Next-previous button endss here*****/
.main {
  max-width: 1200px;
  margin: 20px auto 30px;
  padding-bottom: 90px;
}
.class_slide {
  padding: 40px 97px 0px;
}
